.name {color: teal; 
  font-size: 18px; 
  font-family: "Comic Sans MS", cursive;
  text-align: center}

.profile {font-family: "Comic Sans MS"; 
  font-style: italic;
  border: 1px solid grey;}


.expheader, h4, .keyskillheader, h3 {color: teal;
  font-family: Tahoma, Geneva, sans-serif;}

.text, .h5, li {font-family: Tahoma, Geneva, sans-serif}

.jobs {font-family: Tahoma, Geneva, sans-serif;
border: 1px solid grey;
margin-left: 20px; margin-right: 20px;
text-align: center}

#text-container{width: 600px; display: block; float: left; padding-left: 100px}

h5{font-size: 15px }

body{background-color:white; margin: 10% 20%}
